* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.editor {
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 65px;
}
 
.menu-editor{
    padding: 32px;
    border: 1px solid black;
    margin-left: 10px;
}

/* .menu-editor {

} */

.line-btns {
    align-items: center;
    height: 40px;
    border: 1px solid black;
    width: 90%;
    margin: 16px 0;
}

.line-btns>* {
    margin: 0 1px;
}

#text {
    width: 90%;
    height: 28px;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    /* background-color: rgb(164, 209, 209); */
    width: 80%;
    margin: 30px auto;
    padding: 15px;
}

.images-container>* {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    /* object-position: center; */
}

header {
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-bottom: -8px;
}

.logo {
    height: 10px;
    height: 1.5rem;
    margin: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    width: 130px;
    height: 100px;
    cursor: pointer;
}

ul li h2 {
    font-size: 1.5rem;
    padding: 15px 0;
    text-align: center;
}

ul li:hover {
    border-bottom: 8px solid hsl(21, 99%, 56%);
    color: hsl(21, 88%, 54%);
}

ul li:focus {
    outline: none;
    border-bottom: 8px solid hsl(21, 99%, 56%);
    color: hsl(21, 88%, 54%);
}

/* HELPER */

.flex {
    display: flex;
}


/* FOOTER */

footer {
    width: 100%;
    height: 30px;
    background-color: azure;
    text-align: center;
    padding: 0;
    margin: 0;
    bottom: 0px;
   
}

footer h5 {
    padding: 0;
    margin: 0
}

button img {
    width: 20px;
}